.myBlueToast .Toastify__progress-bar--success {
  background: var(--toastify-color-progress-light) !important;
  color: white !important;
  font-weight: 500;
}

.myBlueToast .Toastify__toast-icon svg {
  /* filter: invert(20%) sepia(60%) saturate(3000%) hue-rotate(200deg) brightness(90%); */
  fill: #365abc;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll / white area */
  width: 100%;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  min-height: 100vh;
  display: block;        /* ✅ remove flex */
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

header, .contact-page, .contact-container {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
